<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css">
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @movie.each do |movie| %>
      <div class="swiper-slide">
        <p>タイトル</p>
        <div class="content">
          <div>
            <%= link_to movie.room_name, movie_path(movie.id)%>
          </div>
          <div>
            <iframe width="560" height="315" src="<%= movie.video_url %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- ページネーション -->
  <div class="swiper-pagination"></div>

  <!-- ナビゲーションボタン -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- スクロールバー -->
  <div class="swiper-scrollbar"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
